#header-bg{
    background: #DCEAF5;
    width: 100vw;
    height: 749px;
    margin-top: 30px;
}
#header-post{
    padding-top: 161px;
}
#andrew{
    width: 559px;
    position: absolute;
}
#andrew img{
    border-radius: 50%;
    margin-right: 8px;
}
#andrew a{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    text-decoration: none;
}
#andrew a::after{
    content: "\2192";
}
#andrew h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;

    color: #1D3444;
}
#name-date{
    display: flex;
    transform: translateY(-25px);   
    opacity: 0.7;
    color: #394149;
}
#name-date p{
   margin: 0 24 0 0;
   transform: translateX(40px);
}
#name-margin{
    margin-left: 0
}
#our{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 24 0;
}
#tabble-tennis{
    border-radius: 20px;
    transform: translate(700px, -30px);
    width: 649px;
    height: 493px;
}
#help-section3{
    margin-top: 128px;
    margin-bottom: 128px;
}
#help-section3 h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
    color: #0D1317;

}
.latest-post2{
    border-radius: 20px;
    padding-bottom: 32px;
    width: 400px;
    margin: 0;
    background: #EDF7FF;
}
.post-11{
    background: url(./w2d4workfile/images/post-3.png);
}
.post-12{
    background: url(./w2d4workfile/images/post1.png);
}
.post-13{
    background: url(./w2d4workfile/images/post-2.png);
}
