@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.max-width{
    max-width: 1280px;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
nav ul li{
    display: inline-block;
    padding-right: 32px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #394149;
}

.logo{
    cursor: pointer;
}
#contact{
    padding-right: 76px;
}
#call{
    padding: 18 30;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

/* nav css */

#background{
    background: #DCEAF5;
    width: 100vw;
    height: 703px;
    margin-top: 30px;
    display: inline-block;

}
#prosper{
    /* display: inline-block; */
    width: 640px;
    height: 410px;
    transform: translate(-250px, 117px);

}
#background h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
}
#text{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 12px;
}
#background ul li{
    display: inline-block;
    margin-top: 50px;
} 
#service{
    color: #FFFFFF;
    background: #F58A07;
    border-radius: 27px;
    padding: 18 32;
}
#service2{
    padding-left: 72px;
}
#work{
    margin-top: 75px;
    margin-bottom: 27px;
    color: rgba(57, 65, 73, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.logo2{
    padding-right: 48px;
}
#man{
    transform: translate(650px, -470px);
    /* max-width: 100%; */
}

#help-section h1{
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
}   
#help-text{
    margin-top: 27px;
    margin-bottom: 64px;
    width: 735px;
    display: inline-block;
}
#help-text p{
    margin-top: 27px;
    margin-bottom: 64px;
}
.container{
    display: flex;
    /* margin-top: 64px; */
}
.container p{
    padding-right: 40px;
}
.post{
    background-color: aqua;
    width: 400px;
    height: 242px;
    margin-bottom: 33px;
    border-radius: 20px;
    background:cover;
    display: inline-block;
    margin-right: 40px;
}
.post-1{   
    background:url(./w2d4workfile/images/post1.png);
}
.post-2{
    background: url(./w2d4workfile/images/post-2.png);
}
.post-3{
    background: url(./w2d4workfile/images/post-3.png);
}
.container a{
   color: #F58A07;  
   margin-bottom: 97px;
   text-decoration: none;
}
#background2{
    background: #EDF7FF; 
    width: 100vw;
    /* height: 665px; */
    /* margin-bottom: 100px; */
    padding-bottom: 96px;
}

.feaures h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    width: 619px;
    display: inline-block;
     margin-top: 96px;
} 
#feaures-text{
    float:right;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 620px;
    padding-left: 40px;
    margin-top: 102px;
}
#invoicing{
    margin-top: 70px;
}
.bg{
    background: #FFFFFF;
    border-radius: 20px;
    width: 401px;
    margin-left: 0;
    padding:0 30px;
    padding-bottom: 37px;
}
.bg h2{
    margin-top: 32px;
    margin-bottom: 16px;

}
.icon{
    margin-top: 48px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.icon-1{
    background: url(./w2d4workfile/images/Icon-layer.png) no-repeat;
}
.icon-2{
    background: url(./w2d4workfile/images/Icon-wizard.png) no-repeat ;
    background-size: contain;
}
.icon-3{
    background: url(./w2d4workfile/images/Icon-heart.png) no-repeat;
    background-size: contain;
}
.about{
    width: 596px;
    display: inline-block;
    margin-top: 166px;
}
.about p{
    margin-top: 32px;
    margin-bottom: 48px;
}
.about h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
.energy{
    width: 264px;
    display: inline-block;  
    padding-right: 26px;           
}
.energy h2{
    color: #F58A07;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}
.energy h3{
    margin: 16 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.bg-img{
    height: 650px;
    width: 650px;
    background-color: yellow;
    border-radius: 50px
}

#about-img{
    background: url(./w2d4workfile/images/about-image.png) no-repeat;
    background-size: cover;
    transform: translate(650px, -560px);
}
#line-1{
    position: absolute;
    width: 153px;
    height: 650px;
    background: #F58A07;
    mix-blend-mode: multiply;
    transform: translate(650px, -670px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#iluu-div{
    width: 596px;
    height: 290px;
    margin: 0;
}
#background3{
    background: #EDF7FF;
    border-radius: 20px;
    margin-top: 95px;
}
#tab{
    width: 580px;
    display: flex;
    margin:0;
    margin-left: 72px;
   padding-top: 56px;
}
#tab-bussiness{
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8 24;
    background: #FFFFFF;
    border-radius: 31px;
}
.tab-dig{
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    padding: 8 24;
}
#helping{
    width: 510px;;
    display: inline-block;
    margin-left: 48px;
    margin-top: 88px;
}
#helping h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
#helping p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;  
    color: #5B5B5B;
    margin-top: 25px;
    margin-bottom: 40px;
}
#helping a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
#helping a::after{
    content:"\2192";
}
#logo-right{
    transform: translate(1070px, -660px);
}
#section-finsweet{
    margin-top:128px;
}
#finsweet{
    width: 550px;
    display: inline-block;
    transform: translateY(-300px);
}
#finsweet h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
    /* display: inline-block; */
}
#finsweet h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
#finsweet p{
    margin: 24 0 46 0;
}
#img7{
    background: url(./w2d4workfile/images/video-image.png) no-repeat;
    display: inline-block;
    transform: translateX(90px);
}
#img8{
    background: url(./w2d4workfile/images/team.png) no-repeat;
    transform: translate(650px, -630px);
    position: absolute
}
#line-2{
    width: 120px;
    height: 466px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    transform: translate(650px, -630px);
}
#woman{
    margin-top: 128px;
    background-color: #F58A07;
}
#max-width-2{
    max-width: 1920px;
}
#woman-pic{
    background: url(./w2d4workfile/images/experience-image.png) no-repeat;
}
#woman-text{
    display: inline-block;
    max-width: 100vw;
}
#woman-text h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 56px;
    width: 532px;
}
#woman-text p{
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    padding: 19 32;
    background: #FFFFFF;
    border-radius: 31px;
    width: 216px;
    margin: 0;
    margin-top: 40px;
}
.img-logo-size{
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 50%;
}
#img-logo{
    background: url(./w2d4workfile/logo.png);
    display: inline-block;
}
#ceo{
    display: inline-block;
    margin-left: 24px;
    transform: translateY(-20px);
}
.bg2{
    background-color: aqua;
    width: 616px;
    height: 650px;
    border-radius: 20px;
}
.bg3{
    width: 470px;
    height: 470px;
    background-color: rebeccapurple;
    border-radius: 20px;
}
/* #help-section{
    /* background: #DCEAF5; */
    /* padding-bottom: 96px; */

#help-section2{
    background: #DCEAF5; 
    padding-bottom: 96px;   
}
#help-section h1{
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    padding-top: 96px   
}   
#help-section2 h1{
    color: #1D3444;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    padding-top: 96px 
}
#help-text{
    margin-top: 27px;
    margin-bottom: 64px;
}
.container{
    display: flex;
    justify-content: space-between;
    /* margin-top: 64px; */
}

.post{
    background-color: aqua;
    width: 400px;
    height: 242px;
    margin-bottom: 33px;
    border-radius: 20px;
    background:cover;
    display: inline-block;
    
}
.post-1{   
    background:url(./w2d4workfile/images/post1.png);
}
.post-2{
    background: url(./w2d4workfile/images/post-2.png);
}
.post-3{
    background: url(./w2d4workfile/images/post-3.png);
}
.latest-post{
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 32px;
    width: 400px;
    margin: 0;  
}
.latest-news{
    margin: 0 32px;
}
.latest-news h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.latest-news p{
    margin-top: 16px;
    margin-bottom: 24px;
}
.container a{
   color: #F58A07;
   margin-bottom: 97px;
}
.container a::after{
    content: "\2192";
}
.footer{
    background: #063255;
    height: 463px;
    color: #FFFFFF;
}
.footer h3{
    font-weight: 600;
    font-size: 18px;
line-height: 27px;
}
.footer-text{
    padding-top:80px;
    display: flex;
}
.footer-logo{
    width: 351px;
    /* background: #FFFFFF; */
}
.footer-logo h1{
    margin: 32 0;
}
.company a{
    display: block;
    margin-bottom: 16px ;
    text-decoration: none;
    color: #FFFFFF;
}
.company h3{
    margin-bottom: 24px;
}
.connect h3{
    margin-bottom: 26px;
}
.connect p{
    margin-bottom: 16px
}
.join input{
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    margin-top: 42px; 
    margin-bottom: 50px;   
    padding-left: 32px;
    outline: 0px;
}

.join a{
    background: #F58A07;
    border-radius: 31px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 18 32;
}
.footer-logo2{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.footer-cube{
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    width: 53px;
    height: 287px;  
    position: absolute;
}
#cube1{
    transform: translate(320px, -300px);
}


